@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
}

main {
    padding: 36px;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--project {
    font-size: 0.75rem;
    font-weight: 500;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr; 
    /* 1fr stands for "1 fraction"
    It creates two rows, each with a height of 40 pixels */
    gap: 17px;
}

.form--input {
    font-family: 'Karla', sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--button {
    grid-column: 1 / -1;
    font-family: 'Karla', sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white; 
    border: none;
    cursor: pointer;
}

.meme {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.meme-image {
    display: block;
    max-width: 100%;
}

.meme--textTop {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Impact;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    color: white;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

.meme--textBottom {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Impact;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    color: white;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}


